<!DOCTYPE html>
<html ng-app="quoteBook">
<head>
  	<title>Quote Book</title>
  	<link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body ng-controller="mainCtrl">

<div class="buttons">
    <button class="btn toggleButton" ng-click="toggle('add')">Add</button>
    <button class="btn toggleButton" ng-click="toggle('remove')">Remove</button>
    <button class="btn toggleButton" ng-click="toggle('filter')">Search</button>

    <form class="add" ng-show="focus === 'add'">
	    <input type="text" ng-model="newQuote" placeholder="Quote"/> 
	    <input type="text" ng-model="newAuthor" placeholder="Author"/>
	    <button class="btn" ng-click="addQuote()">Add Quote</button>
	</form>

    <form ng-submit="removeQuote()" class="remove" ng-show="focus === 'remove'">
        <input type="text" ng-model="deleteQuote"/>
        <button class="btn" ng-click="removeData()">Remove Quote</button>
    </form>

	<form class="filter" ng-show="focus === 'filter'">
	    <input type="text" ng-model="search" placeholder="search"/>
	</form>
</div>

<hr>
<div class="transbox">
    <div class="quoteContainer" ng-repeat="key in quotes | filter: search">
        <p>{{key.text}}</p>
        <h5>-{{key.author}}</h5>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/dataService.js"></script>
<script src="js/mainCtrl.js"></script>
</body>
</html>